Value col1 (\S*)
Value col2 (\S+)
Value col3 (\S+)
Value col4 (\S+)

Start
 ^二、联系人和联系方式 -> Second

Second
 #^\[\'${col1}\', \'${col2}\', \'${col3}\', \'${col4}\' -> Record
 ^\[\'${col1}\', \'${col2}\', \'${col3}\'] -> Record
 #^\[\'${col1}\', \'${col2}\' -> Record
